######################################################################################
#
#		Original files: Aesecure, H5BP, recycling htaccess, Joomla
#		
#				Customers by www.AlexonBalangue.me
#				Works only Apache 2.4 less version not supported
#	If you using the CDN for exemple Cloudflare, comment some variable htaccess
#	If you using Plesk or Cpanel some variable not need use in htaccess
######################################################################################
#
#				Prepared for Wordpress v3.5.3 - Comming soon
#
#######################################################################################