# REWRITE RULE /URL PAGE
#Options +FollowSymlinks #uncomment if your 're on the Web Hosting sharing

RewriteEngine on
#Error custom
RewriteRule ^error/400\.html$ index.php?full=pages&error=400 [L]
RewriteRule ^error/401\.html$ index.php?full=pages&error=401 [L]
RewriteRule ^error/403\.html$ index.php?full=pages&error=403 [L]
RewriteRule ^error/404\.html$ index.php?full=pages&error=404 [L]
RewriteRule ^error/405\.html$ index.php?full=pages&error=405 [L]
RewriteRule ^error/408\.html$ index.php?full=pages&error=408 [L]
RewriteRule ^error/410\.html$ index.php?full=pages&error=410 [L]
RewriteRule ^error/411\.html$ index.php?full=pages&error=411 [L]
RewriteRule ^error/412\.html$ index.php?full=pages&error=412 [L]
RewriteRule ^error/413\.html$ index.php?full=pages&error=413 [L]
RewriteRule ^error/415\.html$ index.php?full=pages&error=415 [L]
RewriteRule ^error/500\.html$ index.php?full=pages&error=500 [L]
RewriteRule ^error/501\.html$ index.php?full=pages&error=501 [L]
RewriteRule ^error/502\.html$ index.php?full=pages&error=502 [L]
RewriteRule ^error/503\.html$ index.php?full=pages&error=503 [L]
RewriteRule ^error/504\.html$ index.php?full=pages&error=504 [L]
RewriteRule ^error/506\.html$ index.php?full=pages&error=506 [L] 

#Preventif security warning
RewriteRule ^warning/block-files\.html$ index.php?full=hosting&hacker=block-files [L]
RewriteRule ^warning/easter-eggs\.html$ index.php?full=hosting&hacker=easter-eggs [L]
RewriteRule ^warning/detected-base64-encode\.html$ index.php?full=hosting&hacker=detected-base64-encode [L]
RewriteRule ^warning/local-files\.html$ index.php?full=hosting&hacker=local-files [L]
RewriteRule ^warning/spam\.html$ index.php?full=hosting&hacker=spam [L]
RewriteRule ^warning/--\.html$ index.php?full=hosting&hacker=-- [L]
RewriteRule ^warning/--\.html$ index.php?full=hosting&hacker=-- [L]
RewriteRule ^warning/--\.html$ index.php?full=hosting&hacker=-- [L]
RewriteRule ^warning/--\.html$ index.php?full=hosting&hacker=-- [L]
RewriteRule ^warning/--\.html$ index.php?full=hosting&hacker=-- [L]
RewriteRule ^warning/--\.html$ index.php?full=hosting&hacker=--

